![Test taking](images/nguyen-dang-hoang-nhu-qDgTQOYk6B8-unsplash.jpg)

<H1>Predicting Student Test Scores</H1>

Using a [data set](https://www.kaggle.com/kwadwoofosu/predict-test-scores-of-students) from kaggle, we will predict student test scores using a linear regression model.

In [5]:
#import the appropriate tools
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
%matplotlib inline

In [6]:
#import the data
df = pd.read_csv('data/test_scores 2.csv')

In [7]:
df.head()

,school,school_setting,school_type,classroom,teaching_method,n_student,student_id,gender,lunch,pretest,posttest
0,ANKYI,Urban,Non-public,6OL,Standard,20.0,2FHT3,Female,Does not qualify,62.0,72.0
1,ANKYI,Urban,Non-public,6OL,Standard,20.0,3JIVH,Female,Does not qualify,66.0,79.0
2,ANKYI,Urban,Non-public,6OL,Standard,20.0,3XOWE,Male,Does not qualify,64.0,76.0
3,ANKYI,Urban,Non-public,6OL,Standard,20.0,556O0,Female,Does not qualify,61.0,77.0
4,ANKYI,Urban,Non-public,6OL,Standard,20.0,74LOE,Male,Does not qualify,64.0,76.0